<header>
  <a href="index.html">
    <div class="logo">
      <img alt="logo">
      <h1>آهنگدان</h1>
    </div>
  </a>
  <nav>
    <ul>
      <li class="nav-link-item" id="li-selected-tab"><a href="#" id="main-selected-tab">خانه</a></li>
      <li class="nav-link-item"><a href="#">موزیک‌ها</a></li>
      <li id="fav-link" class="nav-link-item"><a href="#">علاقه‌مندی‌ها</a></li>
      <li class="nav-link-item"><a href="#">درباره ما</a></li>
    </ul>
  </nav>
  <div>
    <ul class="authentication">
      <li class="login-link"><a id="login-link" href="#">ورود</a></li>
      <li><a id="register-link" href="#">ثبت‌نام</a></li>
    </ul>
  </div>

</header>

<nav class="more-buttons">
  <ul>
    <li><a href="#">خانه</a></li>
    <li><a href="#">موزیک‌ها</a></li>
    <li><a href="#">علاقه‌مندی‌ها</a></li>
    <li><a href="#">درباره ما</a></li>
  </ul>
</nav>
