<header class="page-title-container">
  <h1 id="page-title-name" class="page-title glow">علاقه‌مندی‌ها</h1>
</header>
<div id="container">
  <section id="fav-musics">
    <div id="search">
      <input id="search-input" type="search" name="search" placeholder="جست‌وجو..."
             onfocus="setWidthOfSearch(43)"
             onfocusout="setWidthOfSearch(40)"/>
    </div>

    <!-- preloader: -->
    <div class="loader-wrapper">
      <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <ul class="music-list">
    </ul>
  </section>
</div>
