<header class="page-title-container">
  <h1 id="page-title-name" class="page-title glow">آهنگ‌ها</h1>
</header>

<div id="container">

  <section id="all-musics">
    <div id="search">
      <input id="search-input" type="search" name="search-music" placeholder="جست‌وجو..." [(ngModel)]="searchPredicate"/>
    </div>

    <!-- preloader: -->
    <div class="loader-wrapper" [hidden]="isProgressIndicatorHidden">
      <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <ul class="music-list">
      <li *ngFor="let music of getMusicsToRender()" draggable="true" class="mdc-elevation--z1"> <!-- TODO: Drag not done yet -->
        <span class="music-cell-header">
          <img height="60" width="60" [src]="music.cover" loading="lazy" alt="عکس موزیک"/>
          <a class="music-title-and-singer-link">
            <span class="music-title-and-singer">
              <span class="music-title">{{ music.name }}</span>
              <span class="music-singer">{{ music.artist }}</span>
            </span>
          </a>
        </span>

        <span class="music-cell-controls">
          <button class="like-button-on-cell" style="height: 3.75rem; width: 3.75rem;">
<!--            <i class="fa fa-heart" aria-hidden="true" style="text-align: center"></i>-->
            <fa-icon [icon]="music.isFavorite ? faHeart : faHeartBroken"></fa-icon>
          </button>
          <button class="like-button-on-cell" style="height: 3.75rem; width: 3.75rem;">
<!--            <i class="fa fa-share-alt" aria-hidden="true" style="text-align: center"></i>-->
            <fa-icon [icon]="faShareAlt"></fa-icon>
          </button>
        </span>
      </li>
    </ul>

    <div id="pagination-controls">
      <button class="pagination-button" id="previous-page">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
      <p id="current-page">
        صفحه‌ی ۳
      </p>
      <button class="pagination-button" id="next-page">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </button>
    </div>
  </section>


</div>
