<section id="music-details">
  <ul class="music-list" style="display: flex; justify-content: center; align-content: center">
    <li id="music-box">
        <img style="margin-top: -5%" width="200" height="200" id="music-cover-image" src="images/music-art.png" alt="عکس موزیک" class="cover"/>
        <span class="music-cell-header">
                        <span class="music-title-and-singer">
                            <span id="music-title-text" class="music-title"></span>
                            <span id="music-singer-text" class="music-singer"></span>
                        </span>
                    </span>

        <span class="music-cell-controls">
                        <button id="two-x-button">2x</button>
                        <button id="add-to-favorites-button"><i id="add-to-favorites-i" class="fa fa-heart-o" aria-hidden="true"></i></button>
                    </span>

        <audio controls id="music">
          <!--                        <source id="music-playback-source" src="" type="audio/mpeg"> &lt;!&ndash; TODO: Better placeholder &ndash;&gt;-->
        </audio>
      <div class="lyric-box">
        <h3 class="lyric">متن آهنگ</h3>
        <p id="lyrics-text" class="lyric"></p>
      </div>
    </li>
  </ul>
</section>
<section id="musics-list">
  <ul class="music-list">
    <li>
                    <span class="music-cell-header">
                        <img height="60" width="60" src="images/music-art.png" alt="عکس موزیک"/>
                        <span class="music-title-and-singer">
                            <span class="music-title">آهنگ مشابه</span>
                            <span class="music-singer">اسم خواننده</span>
                        </span>
                    </span>

      <span class="music-cell-controls">
                        <button class="share-button-on-cell"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                        <button class="share-button-on-cell"><i class="fa fa-share-alt" aria-hidden="true"></i></button>
                    </span>
    </li>
    <li>
                    <span class="music-cell-header">
                        <img height="60" width="60" src="images/music-art.png" alt="عکس موزیک"/>
                        <span class="music-title-and-singer">
                            <span class="music-title">آهنگ مشابه</span>
                            <span class="music-singer">اسم خواننده</span>
                        </span>
                    </span>

      <span class="music-cell-controls">
                        <button class="share-button-on-cell"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                        <button class="share-button-on-cell"><i class="fa fa-share-alt" aria-hidden="true"></i></button>
                    </span>
    </li>
    <li>
                    <span class="music-cell-header">
                        <img height="60" width="60" src="images/music-art.png" alt="عکس موزیک"/>
                        <span class="music-title-and-singer">
                            <span class="music-title">آهنگ مشابه</span>
                            <span class="music-singer">اسم خواننده</span>
                        </span>
                    </span>

      <span class="music-cell-controls">
                        <button class="share-button-on-cell"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                        <button class="share-button-on-cell"><i class="fa fa-share-alt" aria-hidden="true"></i></button>
                    </span>
    </li>
    <li>
                    <span class="music-cell-header">
                        <img height="60" width="60" src="images/music-art.png" alt="عکس موزیک"/>
                        <span class="music-title-and-singer">
                            <span class="music-title">آهنگ مشابه</span>
                            <span class="music-singer">اسم خواننده</span>
                        </span>
                    </span>

      <span class="music-cell-controls">
                        <button class="share-button-on-cell"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                        <button class="share-button-on-cell"><i class="fa fa-share-alt" aria-hidden="true"></i></button>
                    </span>
    </li>
  </ul>
</section>
