<article>
  <div class="header">
    <h1>ثبت‌نام رایگان</h1>
    <h6>
      آیا یک حساب کاربری از قبل دارید؟
      <br>
      <a routerLink="login-form">
        ورود
      </a>
    </h6>
  </div>
  <section>
    <input id="firstName-input" type="text" name="name" placeholder="نام و نام خانوادگی"> <br>
    <input id="username-input" type="text" name="username" placeholder="نام کاربری"> <br>
    <input #emailInput id="email-input" type="email" name="email" placeholder="ایمیل"> <br>
    <input #passwordInput id="password-input" type="password" name="password" placeholder="رمز عبور"> <br>
    <input #repeatedPasswordInput id="repeat-password-input" type="password" name="password" placeholder="تکرار رمز عبور"> <br>
    <div class="authenticate-button">
      <button id="submit-button" class="submit-button" (click)="registerTapped()">ثبت‌نام</button>
    </div>
  </section>
</article>
