// MARK: Initial colors

/*
$primary: #4C956C;
$secondary: #2C6E49;
$content-color: wheat;
$text-color: #000000;
$nav-color: white;
$footer-color:white;
$title-color: whitesmoke;
*/

// MARK: Light Theme

$primary: #ff7e44;
$secondary: #3a3f55;
$content-color: lightgray;
$text-color: #000000;
$nav-color: white;
$header-color: #3a3f55;
$footer-color:white;
$title-color: whitesmoke;

// MARK: Dark Theme

$primary-dark: #3a3f55;
$secondary-dark: #ff7e44;
$content-color-dark: lightgray;
$text-color-dark: #000000;
$nav-color-dark: white;
$header-color-dark: wheat;
$footer-color-dark: white;
$title-color-dark: whitesmoke;
