$primary: #4C956C;
$secondary: #2C6E49;
$text-color: #000000;

@mixin margin-top-and-bottom($n: 4%) {
  margin-top: $n;
  margin-bottom: $n;
}

article {
  margin: 5% 11% 5% 12%;
  background-color: wheat;
  border-radius: 2em;
  padding: 5% 5% 5% 7.2%;
  opacity: 86%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  input {
    @include margin-top-and-bottom(4%);
    width: 100%;
    padding: 2%;
    border-radius: 0.25em;
    border-style: none;
    font-family: "B Yekan", sans-serif;
    font-size: 1.5rem;

    &[type="checkbox"] {
      display: inline;
    }
  }

  .authenticate-button {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: -6.5%;

    .submit {
      padding: 2.5%;
      border-radius: 999rem;
      background-color: $primary;
      font-size: large;
      opacity: 86%;
      color: white;
      transition: all 0.25s;
      align-self: center;

      &:hover {
        opacity: 80%;
      }
    }
  }

  .header {
    h1 {
      font-size: 4rem;
    }

    h6 {
      font-size: 2rem;
    }
  }

  h6 {
    @include margin-top-and-bottom(4%);
    display: flex;
    gap: 2%;

    a {
      color: $secondary;
      text-decoration: none;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.checkbox-with-label {
  display: flex;
  margin-left: auto;
  justify-content: flex-start;
  align-items: flex-start;
}

.checkbox {
  display: inline-block;
  vertical-align: middle;
}

@media (min-width: 600px) {
  article {
    margin: 2% 15%;

    .authenticate-button {
      .submit {
        font-size: x-large;
      }
    }

    input {
      font-size: 2rem;
    }

    header {
      h1 {
        font-size: 4rem;
      }

      h6 {
        font-size: 2rem;
      }
    }
  }
}
