//$primary: #4C956C;
//$secondary: #2C6E49;
//$content-color: wheat;
//$text-color: #000000;

///////////////////////////

$primary: #ff7e44;
$secondary: #3a3f55;
$content-color: #000000;
$text-color: #000000;
$nav-color: white;
$footer-color:white;

$primary-dark: #3a3f55;
$secondary-dark: #ff7e44;
$content-color-dark: lightgray;
$text-color-dark: #000000;
$nav-color-dark: white;
$footer-color-dark: white;
