@import "colors.scss";

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "B Yekan", sans-serif;
}

@font-face {
  font-family: "B Yekan";
  src: url("../../assets/fonts/B-Yekan.TTF");
}

body > header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: $primary;
}

#selected-tab, #main-selected-tab {
  color: $content-color;
}

.more-buttons {
  ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;

    li {
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 1rem;
      transition: all 0.35s;
      padding: 0.85rem;
      border-radius: 999rem;

      a {
        text-decoration: none;
        color: white;
        font-size: medium;
      }
    }

    li:hover {
      background-color: $secondary;
    }
  }
}

.hidden {
  .hidden-text {
    color: white;

    .down-arrow {
      font-size: 0.65em;
    }
  }

  ul {
    display: inline-block;
    position: absolute;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: $text-color;
  background-color: $primary;
  word-wrap: normal;

  > header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;


  img {
    width: 20%;
    margin-left: 1.5rem;
  }

  h1 {
    color: $content-color;
    font-size: x-large;
  }
}

ul {
  .nav-link-item {
    display: none;
  }

  #hidden {
    display: block;

    ul {
      display: none;
    }
  }

  #hidden:hover {
    ul {
      display: block;
    }
  }
}

main {
  z-index: 1;
}

header {
  padding: 2%;
  display: flex;
  flex-direction: row;
  z-index: 2;

  a {
    text-decoration: none;
  }

  .site-title {
    color: whitesmoke;
    font-size: xx-large;
  }

  ul {
    display: flex;
    flex-direction: row;

    li {
      list-style: none;
      transition: all 0.35s;
      padding: 0.85rem;
      border-radius: 999rem;
      font-size: large;
      margin-left: 1rem;
      margin-right: 1rem;

      &.primary-button {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        background-color: $secondary;

        a {
          padding: 4%;
        }

        & > a:hover {
          opacity: 60%;
        }
      }

      a {
        color: white;
        text-decoration: none;
      }
    }

    li:hover {
      background-color: $secondary;
    }
  }
}


button {
  position: relative;
  overflow: hidden;
  border: none;
  background-color: transparent;
  outline: none;
  font-family: "B Yekan", sans-serif;
  transition: all 0.5s;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: 1%;
  background-color: black;
  opacity: 50%;
  color: white;
  font-size: medium;
}

.login-link {
  margin-right: 0;
}

@media (min-width: 840px) {
  .primary-button {
    display: flex;
  }

  .more-buttons {
    display: none;
  }

  ul {
    .nav-link-item {
      display: block;
    }

    #hidden {
      display: none;

      ul {
        display: none;
      }
    }

    #hidden:hover {
      ul {
        display: none;
      }
    }
  }
}