$primary: #4C956C;
$secondary: #2C6E49;
$text-color: #000000;

ul.music-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto;
  list-style: none;

  li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10%;
    list-style: none;
    background-color: wheat;
    border-radius: 2em;
    padding: 7%;
    margin: 8%;

    span.music-cell-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5%;

      img {
        border-radius: 1rem;
      }

      span.music-title-and-singer {
        display: flex;
        flex-direction: column;

        span.music-singer {
          margin-top: 0.5rem;
        }
      }
    }

    span.music-cell-controls {
      padding-top: 2rem;
      display: flex;
      flex-direction: row-reverse;
      margin-right: auto;
      justify-content: space-between;

      button {
        padding: 1rem;
        margin: 0.5rem;
        color: $primary;
        border: 2px solid $primary;
        border-radius: 0.75rem;
        cursor: pointer;

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }

      a {
        border-radius: 0.75rem;
        background-color: $primary;
        padding: 1rem;
        margin: 0.5rem;
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.5rem;

        &:hover {
          opacity: 80%;
        }
      }
    }

    span.music-title {
      font-size: large;
    }

    span.music-singer {
      font-size: medium;
    }
  }
}

@media (min-width: 360px) {
  ul.music-list {
    grid-template-columns: auto auto;
  }
}

@media (min-width: 480px) {
  ul.music-list {
    grid-template-columns: auto auto auto;
  }
}

@media (min-width: 720px) {
  ul.music-list {
    grid-template-columns: auto auto auto auto;
  }
}

@media (min-width: 1080px) {
  ul.music-list {
    grid-template-columns: auto auto auto auto auto;
  }
}

#search {
  width: 40%;
  margin: auto;
  transition: all 1s;
}

input {
  width: 100%;
  font-family: "B Yekan", sans-serif !important;
}

::placeholder {
  font-family: "B Yekan", sans-serif;
}